<div class="formField" *ngFor="let field of fieldValues | keyvalue">
    <div class="keyFormField">{{field.value.displayTitle}}</div>
    <app-form-fields [fieldValue]="field.value"></app-form-fields>
</div>
