<table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.key" *ngFor="let column of columns">
    <th mat-header-cell *matHeaderCellDef>{{ column.displayTitle }}</th>
    <td mat-cell *matCellDef="let element">
      <app-form-fields [fieldValue]="element[column.key]"></app-form-fields>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayColumns;"
    [ngClass]="[row === selectedElement ? 'selectedRow' : '']"
    (click)="onTableRowClick($event, row)"
  ></tr>
</table>
