.commonView {
    display: flex;

    .tableSection {
        padding: 0.75rem 0.75rem 0.75rem 1.5rem;
        width: 70%;

        .headerPanel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .title {
                font-size: large;
                font-weight: 600;
            }
        }
    }

    .formSection {
        padding: 0.75rem 1.25rem 0.75rem 0.75rem;
        width: 30%;

        .headerPanel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .title {
                font-size: large;
                font-weight: 600;
            }
        }
    }
}

.buttonBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .cancelBtn {
        background-color: white;
        color: #3369ff;
        border: 1px solid #3369ff;
        margin-left: 5px;
    }
}