<div class="commonView">
  <div class="tableSection">
    <div class="headerPanel">
      <div class="title">Table View</div>
      <div class="buttonBar">
        <button *ngIf="!isTableEdit" (click)="onTableEditClick($event)">EDIT</button>
        <button *ngIf="isTableEdit" (click)="onTableSaveClick()">SAVE</button>
        <button *ngIf="isTableEdit" class="cancelBtn" (click)="onTableCancelClick()">CANCEL</button>
      </div>
    </div>
    <app-table-component
      [tableData]="commonParams.tableData"
      (tableRowClick)="onTableRowClick($event)"
    ></app-table-component>
  </div>
  <div class="formSection">
    <div class="headerPanel">
      <div class="title">Form View</div>
      <div class="buttonBar">
        <button *ngIf="!isFormEdit" (click)="onEditClick($event)">EDIT</button>
        <button *ngIf="isFormEdit" (click)="onFormSaveClick()">SAVE</button>
        <button *ngIf="isFormEdit" class="cancelBtn" (click)="onFormCancelClick()">CANCEL</button>
      </div>
    </div>
    <mat-card class="mat-elevation-z8">
      <app-form-field-container
        [fieldValues]="fieldValues"
      ></app-form-field-container>
    </mat-card>
  </div>
</div>
