.formFieldValue {
    &.table {
        .labelValue {
            font-size: 12px;
            font-weight: normal;
            color: #454545;
        }

        .linkButton {
            background: none;
            border: none;
            cursor: pointer;
            color: #3369ff;
            font-size: 12px;
            white-space: nowrap;
        }

        .inputBox {
            height: 45px;
            margin-bottom: -12px;

            .inputData {
                height: 1.5rem;
                width: 210px;
                border: 1px solid #AFAFAF;
                border-radius: 3px;
                font-size: 12px;
                color: #454545;
                font-weight: 500;
                padding-left: 16px;

                &:focus {
                    outline: none !important;
                    border: 2px solid #3369ff;

                    &.errorState {
                        border-color: red !important;
                    }
                }

                &.errorState {
                    border-color: red !important;
                }
            }

            .errorMessage {
                color: red;
                font-size: 10px;
                font-weight: normal;
                margin-top: -3px;
            }
        }
    }

    &.form {
        .labelValue {
            font-size: 14px;
            font-weight: 600;
            color: #454545;
        }

        .linkButton {
            background: none;
            border: none;
            cursor: pointer;
            color: #3369ff;
            font-size: 12px;
            white-space: nowrap;
        }

        .inputBox {
            height: 45px;
            margin-bottom: -12px;

            .inputData {
                height: 1.5rem;
                width: 210px;
                border: 1px solid #3369ff;
                border-radius: 3px;
                font-size: 12px;
                color: #454545;
                font-weight: 500;
                padding-left: 16px;

                &:focus {
                    outline: none !important;
                    border: 2px solid #3369ff;

                    &.errorState {
                        border-color: red !important;
                    }
                }

                &.errorState {
                    border-color: red !important;
                }
            }

            .errorMessage {
                color: red;
                font-size: 10px;
                font-weight: normal;
                margin-top: 0px;
            }
        }
    }
}