<div
  class="formFieldValue"
  [ngClass]="[fieldValue.formFieldType ? fieldValue.formFieldType : '']"
>
  <ng-container
    *ngIf="fieldValue.value === null && fieldValue.permission === 'read-only'; 
    then nullValueTemplate; else formFieldTemplate"
  >
  </ng-container>
</div>

<ng-template #nullValueTemplate>
    <label class="labelValue">
        {{ fieldValue.value || '-' }}
    </label>
</ng-template>

<ng-template #formFieldTemplate [ngSwitch]="fieldValue.type">
    <label *ngSwitchCase="fieldType.LABEL" class="labelValue">
        {{ fieldValue.value || '-' }}
    </label>
    <button *ngSwitchCase="fieldType.LINK" class="linkButton" (click)="onLinkClick($event, fieldValue)">
        {{ fieldValue.value }}
    </button>
    <div *ngSwitchCase="fieldType.INPUT" class="inputBox">
        <input matInput
         class="inputData" 
         (input)="onInputChange($event, fieldValue)" 
          (blur)="onInputChange($event, fieldValue)" 
         (focusin)="fieldValue.hasError = false"
         [value]="fieldValue.value"
         [ngClass]="{errorState: fieldValue.hasError}" 
         [placeholder]="fieldValue.placeholder || 'Enter ' + fieldValue.displayTitle"
         [disabled]="fieldValue.disabled">
         <div *ngIf="fieldValue.hasError" class="errorMessage">
            {{ fieldValue.errMsg }}
         </div>
    </div>
</ng-template>
