/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px
}

button {
  color: white;
  border: none;
  background-color: #3369ff;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}